.CustomersList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.CustomersListWrapper {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
